In [1]:
print("hello world")

hello world

Variables
- int
- float
- string
- boolean

In [2]:
a = 2
b = 4.5
name = "Peter"
flag = False

In [4]:
type(a)
a = "ds"
type(a)

str

reading input from users
- input("input goes here")
- reads in as a string

In [5]:
age_input = input("Enter your age: ")
age_input

'21'

cast the string into a integer
- int()
- float()
- str()

In [6]:
age_input = int(age_input)
age_input

21

Lists
- a collection of items, array of objects
- lists are postionally indexed or ordered
- indexing starts from 0
- types don't have to be the same

In [8]:
myList = ["Peter", 21, True]
myList

['Peter', 21, True]

In [10]:
print(myList[0])
print(myList[1])
print(myList[2])

Peter
21
True

List slicing
- access a start and end point
- Listname[start:end]
- does not include the end
- input: [0:2]
- out: ['Peter', 21] not including True
- shorthand [:2], [2:], [:]

In [11]:
myList[0:2]

['Peter', 21]

List length
- len()

In [12]:
len(myList)

3

Dictionary
- collection of key-value pairs
- maps and saves pairs

In [15]:
grade = {'Alice' : 100,
         'Bob' : 100,
         'Charlie' : 100}
grade

{'Alice': 100, 'Bob': 100, 'Charlie': 100}

In [17]:
grade.keys()

dict_keys(['Alice', 'Bob', 'Charlie'])

In [18]:
grade.values()

dict_values([100, 100, 100])

accessing a value using a key

In [19]:
alice_grade = grade['Alice']
alice_grade

100

adding to dictionary

In [20]:
grade['Sarah'] = 95
grade['Tim'] = 'na'

In [21]:
grade

{'Alice': 100, 'Bob': 100, 'Charlie': 100, 'Sarah': 95, 'Tim': 'na'}

Conditionals
-if, elif, else
-indentation and blank space matters in python

In [24]:
if grade['Bob'] == 100:
    print("perfect score")
    
grade['Sarah'] = 90
grade

if grade['Sarah'] == 100:
    print("perfect score")
elif grade['Sarah'] == 90:
    print("not perfect score")
else:
    print("no score")

perfect score
not perfect score

Loops
- while and for loops
- while loops as long as the condition is met
- for loops are finite range defined

In [30]:
limit = 5
i = 1
while i <= limit:
    print(i)
    i += 1

1
2
3
4
5

In [32]:
user_input = input()
while user_input != "quit":
    user_input = input()
print(user_input)

quit

range() defines a including, not including range

In [34]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [37]:
list(range(3,0,-1))

[3, 2, 1]

- looping dictionaries by default are displaying the keys

In [42]:
for value in grade:
    print(value)

Alice
Bob
Charlie
Sarah
Tim

In [46]:
for value in grade:
    print(str(grade[value]))

100
100
100
90
na

functions
- block of code that performs a specific task
- can we called many times so we dont have to write code again
- 
- def functionName (param1, param2, ..):
    statement
    ...
    return result

In [51]:
# function declaration
def greet(name):
    return f"Hello {name}!"

# function call
name = input("What is your name?")
greet(name)

'Hello Peter!'

- remember to use a return statement or a function will return none

In [55]:
def avg(a,b):
    average = (a + b)/2
    # return average

In [56]:
avg(2,3)

In [57]:
x = avg(4,5)
print(x)

None

- here is a correct example:

In [ ]:
def avg(a,b):
    average = (a + b)/2
    return average 

x = avg(80,95)
if x > 90:
    print("grade is A")
elif x > 80:
    print("grade is B")

Mini Project 1
- Create a Calculator App using what we have learned with functions
-

Python and Data Science
- using python and working with data
- loading data, clean, summarize, visualize, transfer, explore

DataFrame
- 2D labeled table 
- rows, columns
- access and transform our data

In [60]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"