In [90]:
print("hello world")

hello world

Variables
- int
- float
- string
- boolean

In [91]:
a = 2
b = 4.5
name = "Peter"
flag = False

In [92]:
type(a)
a = "ds"
type(a)

str

reading input from users
- input("input goes here")
- reads in as a string

In [93]:
age_input = input("Enter your age: ")
age_input

'Peter'

cast the string into a integer
- int()
- float()
- str()

In [94]:
age_input = int(age_input)
age_input

ValueError: invalid literal for int() with base 10: 'Peter'

Lists
- a collection of items, array of objects
- lists are postionally indexed or ordered
- indexing starts from 0
- types don't have to be the same

In [ ]:
myList = ["Peter", 21, True]
myList

In [ ]:
print(myList[0])
print(myList[1])
print(myList[2])

List slicing
- access a start and end point
- Listname[start:end]
- does not include the end
- input: [0:2]
- out: ['Peter', 21] not including True
- shorthand [:2], [2:], [:]

In [ ]:
myList[0:2]

List length
- len()

In [ ]:
len(myList)

Dictionary
- collection of key-value pairs
- maps and saves pairs

In [ ]:
grade = {'Alice' : 100,
         'Bob' : 100,
         'Charlie' : 100}
grade

In [ ]:
grade.keys()

In [ ]:
grade.values()

accessing a value using a key

In [ ]:
alice_grade = grade['Alice']
alice_grade

adding to dictionary

In [ ]:
grade['Sarah'] = 95
grade['Tim'] = 'na'

In [ ]:
grade

Conditionals
-if, elif, else
-indentation and blank space matters in python

In [ ]:
if grade['Bob'] == 100:
    print("perfect score")
    
grade['Sarah'] = 90
grade

if grade['Sarah'] == 100:
    print("perfect score")
elif grade['Sarah'] == 90:
    print("not perfect score")
else:
    print("no score")

Loops
- while and for loops
- while loops as long as the condition is met
- for loops are finite range defined

In [ ]:
limit = 5
i = 1
while i <= limit:
    print(i)
    i += 1

In [ ]:
user_input = input()
while user_input != "quit":
    user_input = input()
print(user_input)

range() defines a including, not including range

In [ ]:
for i in range(0,10):
    print(i)

In [ ]:
list(range(0,10))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(3,0,-1))

- looping dictionaries by default are displaying the keys

In [ ]:
for value in grade:
    print(value)

In [ ]:
for value in grade:
    print(str(grade[value]))

functions
- block of code that performs a specific task
- can we called many times so we dont have to write code again
- 
- def functionName (param1, param2, ..):
    statement
    ...
    return result

In [ ]:
# function declaration
def greet(name):
    return f"Hello {name}!"

# function call
name = input("What is your name?")
greet(name)

- remember to use a return statement or a function will return none

In [ ]:
def avg(a,b):
    average = (a + b)/2
    # return average

In [ ]:
avg(2,3)

In [ ]:
x = avg(4,5)
print(x)

- here is a correct example:

In [ ]:
def avg(a,b):
    average = (a + b)/2
    return average 

x = avg(80,95)
if x > 90:
    print("grade is A")
elif x > 80:
    print("grade is B")

Mini Project 1
- Create a Calculator App using what we have learned with functions
-

Python and Data Science
- using python and working with data
- loading data, clean, summarize, visualize, transfer, explore

DataFrame
- 2D labeled table 
- rows, columns
- access and transform our data

In [ ]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')
df.head()

In [ ]:
# getting the last 10 rows of data
df.tail(10)

In [ ]:
df['name']

In [ ]:
df_by_name = df.set_index("name")
df_by_name

In [ ]:
df.ticket

In [ ]:
name = ['Allison, Mrs. Hudson J C (Bessie Waldo Daniels)']
df_by_name.loc[name]

In [ ]:
nameList = ['Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Allison, Miss. Helen Loraine']
df_by_name.loc[nameList]

In [ ]:
    df[['age', 'name']]

In [ ]:
to_drop = ['boat', 'sibsp']
df.drop(to_drop, inplace = True, axis=1)

In [ ]:
df.duplicated()

0 is false
1 is true

In [ ]:
duplicates = df.duplicated()
duplicates.value_counts()

In [ ]:
df.pclass.value_counts()

In [ ]:
missing_values = df.isnull().sum()
missing_values

we can drop missing values:
dropped_df = df.dropna()

#instead fill missing values with mean, this is better practice than dropping missing values

In [95]:
df['age'].fillna(df['age'].mean(), inplace=True)

C:\Users\Peter\AppData\Local\Temp\ipykernel_15716\4255040007.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [96]:
df['sex'] = df['sex'].replace({'f' : 'female', "F" : 'female'})

In [97]:
df.fare.describe()

count    1308.000000
mean       33.295479
std        51.758668
min         0.000000
25%         7.895800
50%        14.454200
75%        31.275000
max       512.329200
Name: fare, dtype: float64

In [98]:
df.ticket.describe()

count    9.570000e+02
mean     2.490391e+05
std      4.426853e+05
min      6.800000e+02
25%      1.995000e+04
50%      2.346040e+05
75%      3.474680e+05
max      3.101298e+06
Name: ticket, dtype: float64

In [99]:
df.ticket[9]

np.float64(nan)

In [100]:
df.ticket = pd.to_numeric(df.ticket, errors="coerce")

In [101]:
df.ticket[9]

np.float64(nan)

In [102]:
df.fare.idxmax()

49

In [104]:
df.fare.var()

np.float64(2678.959737892891)

In [106]:
df.loc[df.fare.idxmax()]

pclass                                                    1
survived                                                  1
name                     Cardeza, Mr. Thomas Drake Martinez
sex                                                    male
age                                                    36.0
parch                                                     1
ticket                                                  NaN
fare                                               512.3292
cabin                                           B51 B53 B55
embarked                                                  C
body                                                    NaN
home.dest    Austria-Hungary / Germantown, Philadelphia, PA
Name: 49, dtype: object

In [107]:
df.iloc[49]

pclass                                                    1
survived                                                  1
name                     Cardeza, Mr. Thomas Drake Martinez
sex                                                    male
age                                                    36.0
parch                                                     1
ticket                                                  NaN
fare                                               512.3292
cabin                                           B51 B53 B55
embarked                                                  C
body                                                    NaN
home.dest    Austria-Hungary / Germantown, Philadelphia, PA
Name: 49, dtype: object

In [109]:
fare_10k = df.fare.replace(df.fare.max(), 0)
fare_10k.max()

np.float64(263.0)

In [112]:
import numpy as np
z_scores = np.abs((df['fare'] - df['fare'].mean()) / df['fare'].std())
outliers = z_scores > 3

In [113]:
data_frame = df[~outliers]
data_frame

,pclass,survived,name,sex,age,parch,ticket,fare,cabin,embarked,body,home.dest
1,1,1,"Allison, Master. Hudson Trevor",male,0.920000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.000000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.000000,2,113781.0,151.5500,C22 C26,S,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.000000,0,19952.0,26.5500,E12,S,NaN,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.500000,0,2665.0,14.4542,NaN,C,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,29.881138,0,2665.0,14.4542,NaN,C,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.500000,0,2656.0,7.2250,NaN,C,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.000000,0,2670.0,7.2250,NaN,C,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.000000,0,315082.0,7.8750,NaN,S,NaN,NaN

In [115]:
df_new = df.name.str.split(",", expand=True)
df["First name "] = df_new[1]
df

,pclass,survived,name,sex,age,parch,ticket,fare,cabin,embarked,body,home.dest,First name
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.000000,0,24160.0,211.3375,B5,S,NaN,"St Louis, MO",Miss. Elisabeth Walton
1,1,1,"Allison, Master. Hudson Trevor",male,0.920000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON",Master. Hudson Trevor
2,1,0,"Allison, Miss. Helen Loraine",female,2.000000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON",Miss. Helen Loraine
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.000000,2,113781.0,151.5500,C22 C26,S,135.0,"Montreal, PQ / Chesterville, ON",Mr. Hudson Joshua Creighton
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,2,113781.0,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON",Mrs. Hudson J C (Bessie Waldo Daniels)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.500000,0,2665.0,14.4542,NaN,C,328.0,NaN,Miss. Hileni
1305,3,0,"Zabour, Miss. Thamine",female,29.881138,0,2665.0,14.4542,NaN,C,NaN,NaN,Miss. Thamine
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.500000,0,2656.0,7.2250,NaN,C,304.0,NaN,Mr. Mapriededer
1307,3,0,"Zakarian, Mr. Ortin",male,27.000000,0,2670.0,7.2250,NaN,C,NaN,NaN,Mr. Ortin
1308,3,0,"Zimmerman, Mr. Leo",male,29.000000,0,315082.0,7.8750,NaN,S,NaN,NaN,Mr. Leo

In [116]:
df.groupby('sex')['fare'].mean()

sex
female    46.198097
male      26.154601
Name: fare, dtype: float64

In [117]:
df.groupby('sex')['survived'].sum()

sex
female    339
male      161
Name: survived, dtype: int64

Data Visualization
- plotting